<% content_for :title, "New blog post" %>


<%= turbo_frame_tag "new_blog_post" do %>
  <h1>New blog post</h1>
  <%= render "form", blog_post: @blog_post %>
<% end %>

<br>
<div>
  <%= link_to "Back to blog posts", blog_posts_path %>
</div>
